<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ESP32 Remote Update</title>
  </head>
  <body>
    <h1>Enviar mensaje al ESP32</h1>
    <form action="/update" method="POST">
      <textarea name="code" rows="10" cols="50" placeholder="Escribe tu código o URL de OTA aquí"></textarea>
      <br><br>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
